a {
  color: rgb(140, 140, 250);
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

html {
  color: rgb(191, 191, 191);
  background: rgb(31, 31, 31) !important;
}
body {
  background-color: rgb(31, 31, 31);
  background-image: none !important;
}
input,
textarea,
button {
  color: rgb(191, 191, 191);
  background-color: rgb(31, 31, 31);
}

html {
  filter: contrast(100%) brightness(100%) saturate(100%);
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}
body {
  margin: 0px;
}
header,
nav,
section {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0px;
}
img {
  border: 0px;
}
hr {
  box-sizing: content-box;
  height: 0px;
}
button,
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0px;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
input {
  line-height: normal;
}
textarea {
  overflow: auto;
}
@media print {
  *,
  ::after,
  ::before {
    color: rgb(0, 0, 0) !important;
    text-shadow: none !important;
    background: 0px 0px !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]::after {
    content: "";
  }
  img {
    break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    break-after: avoid;
  }
}
* {
  box-sizing: border-box;
}
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(191, 191, 191);
  background-color: rgb(28, 28, 33);
}
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: rgb(156, 194, 227);
  text-decoration: none;
}
a:focus,
a:hover {
  color: rgb(156, 194, 227);
  text-decoration: underline;
}
a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px 0px 0px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-top-style: solid;
  border-top-color: rgb(43, 43, 43);
}
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
p {
  margin: 0px 0px 10px;
}
ul {
  margin-top: 0px;
  margin-bottom: 10px;
}
dl {
  margin-top: 0px;
  margin-bottom: 20px;
}
dd,
dt {
  line-height: 1.42857;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-6,
.col-md-10,
.col-md-12,
.col-md-4,
.col-md-6,
.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .col-md-10,
  .col-md-12,
  .col-md-4,
  .col-md-6,
  .col-md-8 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-10 {
    width: 83.3333%;
  }
  .col-md-8 {
    width: 66.6667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.3333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-6 {
    float: left;
  }
  .col-lg-6 {
    width: 50%;
  }
}
.form-group {
  margin-bottom: 15px;
}
.container::after,
.container::before,
.row::after,
.row::before {
  display: table;
  content: " ";
}
.container::after,
.row::after {
  clear: both;
}

@font-face {
  font-family: FontAwesome;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: 400;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-linkedin-square::before {
  content: "";
}
.fa-github-square::before {
  content: "";
}
.fa-bars::before {
  content: "";
}

.flag-icon-background {
  background-size: contain;
  background-position: 50% center;
  background-repeat: no-repeat;
}

@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  img {
    break-inside: avoid;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    break-after: avoid;
  }
}
html {
  font-family: sans-serif;
}
header,
nav,
section {
  display: block;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(191, 191, 191);
  background-color: rgb(28, 28, 33);
}
h2,
h3,
h4 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
dl,
ul {
  margin-bottom: 1rem;
}
dl,
ul {
  margin-top: 0px;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0px;
}
a {
  color: rgb(153, 190, 230);
}
a:hover {
  color: rgb(153, 190, 230);
  text-decoration: underline;
}
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0px;
}
img {
  vertical-align: middle;
}
a,
button,
input,
textarea {
  touch-action: manipulation;
}
button:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea {
  resize: vertical;
}
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 1px 0px 0px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.1);
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-6,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-10,
.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.form-group {
  margin-bottom: 1rem;
}
@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
}
@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
}
@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
}
.d-none {
  display: none !important;
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
}
.mr-auto {
  margin-right: auto !important;
}
@font-face {
  font-family: FontAwesome;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: 400;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-linkedin-square::before {
  content: "";
}
.fa-github-square::before {
  content: "";
}
.fa-bars::before {
  content: "";
}
html {
  line-height: 1.15;
  text-size-adjust: 100%;
}
body {
  margin: 0px;
}
header,
nav,
section {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0px;
  overflow: visible;
}
a {
  background-color: transparent;
}
img {
  border-style: none;
}
button,
input,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
textarea {
  overflow: auto;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(191, 191, 191);
}
hr,
ul {
  margin: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}
a {
  color: rgb(175, 162, 221);
  transition: all 0.3s ease 0s;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
a:focus,
a:hover {
  color: rgb(175, 162, 221);
  text-decoration: underline;
}
nav {
  font-size: 12px;
  line-height: 18px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding-right: 50px;
  color: rgb(191, 191, 191);
}
nav ul li a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  bottom: 0px;
  right: 42px;
  opacity: 0;
  transition: background 0.3s ease 0s;
  background: rgb(110, 87, 193);
}
nav ul li a:hover {
  text-decoration: none;
  transition: all 0.15s ease 0s;
  color: rgb(175, 162, 221);
}
nav ul li a:hover::after {
  opacity: 1;
}
button {
  padding: 0px;
  margin: 0px;
}
.personal-profile {
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  padding-top: 90px;
}
.personal-profile .personal-profile__avatar img {
  border-radius: 5px;
  box-shadow: rgba(97, 97, 97, 0.34) 0px 0px 27px;
  width: 90%;
  height: 380px;
  object-fit: cover;
  margin-top: 10px;
  position: relative;
  top: 40px;
}
@media screen and (max-width: 990px) {
  .personal-profile .personal-profile__avatar {
    display: none;
  }
}
.personal-profile .personal-profile__name {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
}
.personal-profile .personal-profile__work {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}
.personal-profile .personal-profile__contacts {
  margin-bottom: 20px;
}
.personal-profile .personal-profile__social {
  margin-bottom: 35px;
}
.personal-profile .personal-profile__social a {
  font-size: 24px;
  margin-right: 15px;
  opacity: 0.4;
  color: rgb(255, 255, 255) !important;
}
.personal-profile .personal-profile__social a:hover {
  opacity: 1;
}
.main-header {
  background-color: rgb(110, 87, 193);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
}
.main-header::before {
  background: linear-gradient(
    54deg,
    rgba(74, 76, 181, 0.95) 34%,
    rgba(133, 66, 66, 0.95)
  );
  height: 100%;
  left: 0px;
  right: 0px;
  position: absolute;
  content: "";
  z-index: 0;
}
@media screen and (max-width: 990px) {
  .main-header {
    margin-bottom: 0px;
  }
}
.contact-list {
  font-size: 13px;
  line-height: 24px;
  font-family: "Roboto Mono", monospace;
}
.contact-list dt {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
}
.contact-list dd {
  padding-left: 100px;
  margin-bottom: 15px;
}
.contact-list dd a {
  color: rgb(255, 255, 255);
}
.contact-list.contact-list__opacity-titles dt {
  opacity: 0.4;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section .section__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  font-family: "Roboto Mono", monospace;
}
.section .section__description {
  margin-bottom: 30px;
}
@media screen and (max-width: 760px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.site-btn {
  background-color: rgb(110, 87, 193);
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  color: rgb(255, 255, 255) !important;
}
.site-btn img {
  height: 14px;
  margin-top: -5px;
  margin-right: 5px;
}
.site-btn:focus,
.site-btn:hover {
  background-color: rgb(122, 102, 199);
  text-decoration: none;
}
.site-btn.site-btn--form {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 29px;
  position: relative;
  border: none !important;
}
.site-btn.site-btn--form:hover {
  background-color: rgb(122, 102, 199) !important;
}
.site-btn.site-btn--form:active,
.site-btn.site-btn--form:focus {
  box-shadow: none !important;
}
.menu {
  position: fixed;
  padding: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 70px;
  transition: all 0.5s ease 0s;
}
.menu .menu__wrapper {
  z-index: 1;
  margin-top: 50px;
  transition: all 0.3s ease 0s;
}
.menu .menu__wrapper nav {
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-weight: 700;
}
.menu .menu__wrapper nav a {
  color: rgb(255, 255, 255);
  opacity: 1;
}
.menu .menu__wrapper nav a:hover {
  opacity: 0.5;
}
.menu .menu__wrapper nav a::after {
  background: rgb(28, 28, 33);
}
.menu .menu__mobile-button {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  transition: all 0.3s ease 0s;
  background-color: transparent;
  border: none;
}
.menu .menu__mobile-button:hover {
  opacity: 1;
}
.menu.menu--active {
  background-color: rgb(28, 28, 33);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 8px 0px;
}
.menu.menu--active .menu__wrapper {
  margin-top: 25px;
}
.menu.menu--active .menu__wrapper a {
  opacity: 1;
  color: rgb(191, 191, 191) !important;
}
.menu.menu--active .menu__wrapper a:hover {
  color: rgb(175, 162, 221) !important;
}
.menu.menu--active .menu__wrapper a::after {
  background: rgb(110, 87, 193) !important;
}
.menu.menu--active .menu__mobile-button {
  opacity: 0.9;
  margin-top: -5px;
  transition: all 0.3s ease 0s;
  background-color: transparent;
  border: none;
  color: rgb(191, 191, 191) !important;
}
.menu.menu--active .menu__mobile-button:hover {
  opacity: 1;
  color: rgb(175, 162, 221) !important;
}
.menu.menu--active .menu__mobile-button::after {
  background: rgb(110, 87, 193) !important;
}
.resume-list {
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume-list .resume-list_title {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(191, 191, 191);
  margin-bottom: 40px;
}
.resume-list .resume-list__block {
  border-left: 2px solid rgb(110, 87, 193);
  padding-left: 25px;
  padding-bottom: 50px;
}
.resume-list .resume-list__block p {
  margin: 0px;
}
.resume-list .resume-list__block::before {
  width: 12px;
  height: 12px;
  border: 2px solid rgb(110, 87, 193);
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: rgb(28, 28, 33);
  left: 10px;
}
.resume-list .resume-list__block:last-child {
  padding-bottom: 0px;
}
.resume-list .resume-list__block-title {
  text-transform: uppercase;
  color: rgb(175, 162, 221);
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  padding-bottom: 5px;
}
.resume-list .resume-list__block-date {
  font-family: Inconsolata, monospace;
  font-size: 14px;
  line-height: 20px;
  color: rgb(191, 191, 191);
  padding-bottom: 10px;
}
.background {
  background-color: rgb(110, 87, 193);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  color: rgb(255, 255, 255);
}
.background::before {
  background: linear-gradient(
    54deg,
    rgba(74, 76, 181, 0.95) 34%,
    rgba(133, 66, 66, 0.95)
  );
  height: 100%;
  left: 0px;
  right: 0px;
  position: absolute;
  content: "";
  z-index: 0;
}
.contacts {
  margin-top: 20px;
}
.contacts .contacts__list {
  margin-bottom: 45px;
}
.contacts .contacts__social {
  font-size: 16px;
  line-height: 24px;
}
.contacts .contacts__social li {
  margin-bottom: 20px;
}
.contacts .contacts__social a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  padding: 6px 0px;
  transition: all 0.3s ease 0s;
}
.contacts .contacts__social a:hover {
  color: rgb(175, 162, 221);
  text-decoration: none;
  background-color: rgb(28, 28, 33);
}
.contacts .contacts__form .form-group {
  margin-bottom: 15px;
  position: relative;
}
.contacts .contacts__form .form-group span {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  text-align: right;
  opacity: 0;
  right: 20px;
  z-index: 0;
}
.contacts .contacts__form .form-group .form-validation {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 2px;
  border: 2px solid rgb(110, 87, 193);
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.contacts .contacts__form input {
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgb(28, 28, 33);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Mono", monospace;
}
.contacts .contacts__form input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Mono", monospace;
}
.contacts .contacts__form input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0px;
}
.contacts .contacts__form input:active,
.contacts .contacts__form input:focus {
  box-shadow: rgb(28, 28, 33) 0px 0px 5px 0px inset;
  border: 1px solid rgb(28, 28, 33);
  outline: none;
}
.contacts .contacts__form input:invalid {
  outline: none;
}
.contacts .contacts__form textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgb(28, 28, 33);
  padding: 10px;
  height: 115px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Mono", monospace;
}
.contacts .contacts__form textarea::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Mono", monospace;
}
.contacts .contacts__form textarea:active,
.contacts .contacts__form textarea:focus {
  box-shadow: rgb(28, 28, 33) 0px 0px 5px 0px inset;
  border: 1px solid rgb(28, 28, 33);
  outline: none;
}
.contacts .contacts__form textarea:invalid {
  outline: none;
}
@media screen and (max-width: 760px) {
  .contacts .contacts__form {
    margin-top: 20px;
  }
}
.contacts .contacts__form-title {
  margin-bottom: 20px;
}
.contacts .contacts__form-title,
.footer {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Mono", monospace;
}
.footer {
  color: rgb(255, 255, 255);
  opacity: 0.4;
  width: 100%;
  text-align: center;
  top: 60px;
  position: relative;
  margin-bottom: 30px;
}
.progress-list {
  margin-top: 30px;
}
.progress-list .progress-list__title {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 5px;
  font-weight: 700;
  color: rgb(191, 191, 191);
  margin-bottom: 40px;
}
.progress-list .progress-list__title,
.progress-list p {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.progress-list p {
  width: 100%;
  font-family: Inconsolata, monospace;
  margin-bottom: 10px;
}
.tags li {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  background-color: rgb(43, 43, 43);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
}
@media screen and (max-width: 990px) {
  .tags li {
    margin-bottom: 10px;
  }
}
.mobile-menu {
  position: fixed;
  top: 20px;
  left: 0px;
  width: 0px;
  height: 0px;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  transition: all 0.3s ease 0s;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}
.mobile-menu.active {
  height: 100%;
  width: 100%;
  top: 0px;
  opacity: 1;
}
.mobile-menu .mobile-menu__wrapper {
  height: 100%;
  overflow: auto;
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 60px;
}
.mobile-menu .mobile-menu__wrapper ul {
  padding: 30px 0px;
  margin: 0px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100%;
}
.mobile-menu .mobile-menu__wrapper ul li {
  list-style: none;
  padding: 6px 0px;
}
.mobile-menu .mobile-menu__wrapper ul li a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 11px;
  position: relative;
}
.mobile-menu .mobile-menu__wrapper ul li a:hover {
  opacity: 1;
  text-decoration: none;
}
.mobile-menu .mobile-menu__wrapper ul li a::after {
  background: rgb(28, 28, 33);
  bottom: 14px;
  right: 1px;
}
.mobile-menu .mobile-menu__close {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 50px;
  background-color: transparent;
  border: none;
}
.mobile-menu.mobile-menu--active .mobile-menu__close {
  top: 25px !important;
}
a.social_icon {
  text-decoration: none;
}
.settings_list {
  float: right;
}
.settings_list__link {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 5px;
}
.fontawesomebg {
  position: relative;
}
.fontawesomebg--light::before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 30px;
  color: rgb(255, 255, 255);
  top: 5px;
  left: 3px;
  margin-right: 5px;
  content: "\f185";
}
.fontawesomebg--dark::before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 30px;
  color: rgb(255, 255, 255);
  top: 5px;
  left: 3px;
  margin-right: 5px;
  content: "\f186";
}
.menu--active .fontawesomebg::before {
  color: rgb(191, 191, 191);
}
.menu__mobile .fontawesomebg::before {
  top: 0px;
  left: 0px;
}
